[Unit]
Description=Timer for Compliance Import SSG Job

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
